#fab-create-plan {
  background: -webkit-linear-gradient(130deg, #7991fa 50%, #374fbd 90%, #909fdf);
  background: -o-linear-gradient(130deg, #7991fa 50%, #374fbd 90%, #909fdf);
  background: -moz-linear-gradient(130deg, #7991fa 50%, #374fbd 90%, #909fdf);
  background: linear-gradient(130deg, #7991fa 50%, #374fbd 90%, #909fdf);
}
